.journey-view--main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.journey-view--title-container {
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
}

.journey-view--title-container > h3 {
    flex: 1;
}

.journey-view--journey-list-container {
    overflow: scroll;
}

.journey-view--pagination-footer {
    display: flex;
    justify-content: space-around;
}

.journey-view--pagination-footer-elements {
    flex: 1;
}

.journey-view--month-container {
    display: flex;
}

.journey-view--month-container > div {
    flex: 1;
}

.journey-view--month-container > div:hover {
    background-color: aqua;
}

.journey-view--month-container .--month-active{
    background-color: blue;
}