.journey-view--main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f1faee;
    border-radius: 0px 35px 35px 0px;
}

.journey-view--title-container {
    display: flex;
    justify-content: space-around;
    margin: 15px 15px 0px 15px;
    background-color: #a8dadc;
    border-radius: 15px 15px 0px 0px;
}

.journey-view--title-container > div {
    flex: 1;
    cursor: pointer;
    font-size: 20px;
}

.journey-view--title-container > div:nth-child(1) {
    border-radius: 15px 0 0 0;
}

.journey-view--title-container > div:nth-child(4) {
    border-radius: 0 15px 0 0;
}

.journey-view--title-container > div:hover {
    background-color: #1d3557;
    transition: 0.5s;
    cursor: pointer;
    color: #f1faee;
}

.journey-view--title-container .--order-active{
    background-color: #b8f2e6;
}

/* --- MONTH CONTAINER --- */

.journey-view--month-container {
    display: flex;
    margin: 0px 15px 15px 15px;
    background-color: #a8dadc;
    border-radius: 0px 0px 15px 15px;
    cursor: pointer;
    font-size: 20px; 
}

.journey-view--month-container > div {
    flex: 1;
}

.journey-view--month-container > div:nth-child(1) {
    flex: 1;
    border-radius: 0 0 0 15px;
}

.journey-view--month-container > div:nth-child(4) {
    flex: 1;
    border-radius: 0 0 15px 0;
}

.journey-view--month-container > div:hover {
    background-color: #1d3557;
    transition: 0.5s;
    cursor: pointer;
    color: #f1faee;
}

.journey-view--month-container .--month-active{
    background-color: #b8f2e6;
}

.journey-view--loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* --- JOURNEY LIST CONTAINER --- */
.journey-view--journey-list-container {
    overflow: scroll;
    margin: 0px 15px 15px 15px;
    background-color: #a8dadc; 
    padding: 15px;
    border-radius: 15px;
    height: 100%;
}

/* --- JOURNEY FOOTER CONTAINER --- */
.journey-view--pagination-footer {
    display: flex;
    justify-content: space-around;
    margin: 0px 15px 15px 15px;
    background-color: #a8dadc;
    padding: 5px;
    border-radius: 15px;
}

.journey-view--pagination-footer-elements {
    flex: 1;
    border-radius: 15px;
}

