.station-view--main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.station-view--title-container {
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
    
}

.station-view--title-container > h3 {
    flex: 1;
    cursor: pointer;
}

.station-view--station-list-container {
    overflow: scroll;
}

.station-view--pagination-footer {
    display: flex;
    justify-content: space-around;
}

.station-view--pagination-footer-elements {
    flex:1
}