.station-view--main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f1faee;
    border-radius: 0px 35px 35px 0px;
}

.station-view--search-container{
    display: flex;
    justify-content: space-around;
    margin: 15px 15px 0px 15px;
    background-color: #a8dadc;
    border-radius: 15px 15px 0px 0px;    
}

.station-view--search-container > label {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 50px;
}

.station-view--search-container > label > div {
    display: flex;
    padding: 15px 0px;
    gap: 15px;
}

.station-view--title-container {
    display: flex;
    margin: 0px 15px 15px 15px;
    background-color: #a8dadc;
    border-radius: 0px 0px 15px 15px;
    cursor: pointer;
    font-size: 20px; 
    
}

.station-view--title-container > div:nth-child(1) {
    flex: 1;
    cursor: pointer;
    border-radius: 0 0 0 15px;
}

.station-view--title-container > div:nth-child(2) {
    flex: 1;
    cursor: pointer;
    border-radius: 0 0 15px 0;
}

.station-view--title-container > div:nth-child(1):hover{
    background-color: #1d3557;
    transition: 0.5s;
    border-radius: 0 0 0 15px;
    color: #f1faee;
}

.station-view--title-container > div:nth-child(2):hover{
    background-color: #1d3557;
    transition: 0.5s;
    border-radius: 0 0 15px 0;
    color: #f1faee;
}

.station-view--station-list-container {
    overflow: scroll;
    margin: 0px 15px 15px 15px;
    background-color: #a8dadc; 
    padding: 15px;
    border-radius: 15px;
    height: 100%;
}

.station-view--pagination-footer {
    display: flex;
    justify-content: space-around;
}

.station-view--pagination-footer-elements {
    flex:1
}