.station-card--main-container {
    /* border: 1px solid gray; */
    /* display: flex; */
    /* justify-content: space-around;*/
    border: 1px solid #faf3dd;
    margin-bottom: 7.5px;
    border-radius: 15px;
    background-color: #faf3dd;
    cursor: pointer;
    transition: all 0.5s ease;
}

.station-card--main-container:hover{
    scale: 1.015;   
}

.station-card--title-container {
    display: flex;
    justify-content: space-around;
}

.station-card--title-container > h3 {
    flex: 1;
}

.station-card--modal-container {
    display: flex;

}

.station-card--loading-container {
    flex: 1;
    height: 25px;
}

.station-card--information{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 15px;
    
}

.station-card--left-info-box{
    background-color: #f1faee;
    flex: 1;
    margin: 0 7.5px 0px 15px; 
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
}

.station-card--right-info-box{
    background-color: #f1faee;
    flex: 1;
    margin: 0 15px 0px 7.5px;
    border-radius: 15px;
 
   
}

.station-card--address-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: -20px;
}

.station-card--map-container{
    width: 100%;
    height: 100%;
    border: 1px solid orange;
}

.station-card--average-info-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
